@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss";

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --color-primary: #8b1e1e;
  --color-primary-dark: #6b1020;
  --color-primary-light: #f9e8eb;
  --color-text-dark: #1a1a1a;
  --color-text-muted: #eae7e7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    font-family: "Lato";
  }
}
